/* Fondo de video */
body {
    height: 100vh;
    margin: 0;
    background-image: url('fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black; /* O cualquier color oscuro */
}

/* Capa encima del video */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor general */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    width: 100%;
    text-align: center;
}


.logo-textos {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.texto-vertical {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

/* Logo grande pero adaptable */
.logo {
    width: 400px; /* Ajusta el ancho del logo según necesites */
    max-width: 60%;
    height: auto;
}

/* Caja de formulario */
.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  padding: 0; /* asegúrate de no tener padding raro */
}

/* Input */
input {
    padding: 12px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    text-align: center;
    box-sizing: border-box;
}

/* Botón */
button {
    padding: 12px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

/* Mensaje de error */
p {
    margin-top: 10px;
    color: red;
}

/* Estilo para los textos de bienvenida */
h1, h2 {
            font-weight: bold;
        font-family: sans-serif;
        font-size: 40px;
         background: linear-gradient(to bottom, black, gold);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent !important;
}
h3 {
            font-weight: bold;
        font-family: sans-serif;
        font-size: 40px;
         background: linear-gradient(to bottom, gold, gold);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent !important;
}
.small-logo {
    width: 700px;
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
}